

<div ng-controller="appCtrl" >
<!-- Navbar -->
<div ng-include="'views/common/navbar.html'"></div>

<!-- Navigation -->
<div  ng-show="adminView" >
<div  ng-include="'views/common/sidebar-nav.html'"></div>
</div>

<!-- Main content -->
<main   class="main">
    <div class="container-fluid">
        <ui-view></ui-view>
    </div>
    <!-- /.conainer-fluid -->
</main>




</div>
