<br>


<br>



<style>
    .table1>tbody>tr>th,
    .table1>tbody>tr>td {
        border-top: none;
    }
</style>


<div ng-controller="adminHomeCtrl">


    <div class="row">
        <div class="col-md-4  offset-md-4">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" ng-model="serchText" class="form-control" placeholder="Search.." style="border-radius: 35px">
                <!--<div class="input-group-addon"> <i class="fa fa-search" aria-hidden="true"></i> </div>-->
            </div>
        </div>
        <div class="col-md-1 offset-md-2" data-toggle="modal" data-target="#myModal">
            <!--<i id="modelId" class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>-->
            <button id="modelId" class="btn btn-info">Add School</button>
        </div>


        <div hidden class="col-md-1 offset-md-3" data-toggle="modal" data-target="#myModal1">
            <i id="modelId1" class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </div>

    </div>





    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <table class="table table-hover " style="text-align: center">
                        <thead class="thead-default">
                            <tr>
                                <!--<th style="text-align: cente ;"><i class="icon-people"></i> </th>-->
                                <th style="text-align: center ;">School Name</th>
                                <th style="text-align: center ; ">City</th>
                                <th style="text-align: center ; ">Number Of Girls</th>
                                <th style="text-align: center ; ">Number Of Boys</th>
                                <th style="text-align: center ; ">Number Of Teachers</th>
                                <!--<th style="text-align: center ; ">Satisfaction</th>-->
                                <th style="text-align: center ; "> Total Fee
                                    <div class="small text-muted">
                                       School
                                    </div>
                                </th>
                                <th style="text-align: center ; "> Paid Fee
                                    <div class="small text-muted">
                                        School
                                    </div>
                                </th>
                                <th style="text-align: center ; "> Due Fee
                                    <div class="small text-muted">
                                        School
                                    </div>
                                </th>
                                <th style="text-align: center ; "> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="x in schoolList | orderBy:'name' | filter : serchText |itemsPerPage:pageSize" current-page="currentPage">
                                <!--<td>
                                    <div class="avatar">
                                        <img check-image ng-src="{{ imageBaseURL + x.imageURL }}" class="img-avatar">
                                    </div>
                                </td>-->
                                <td>
                                    <div>{{ x.schoolName }}</div>
                                    <div class="small text-muted">
                                        <span ng-if="user.new == true">New</span>
                                        <span ng-if="user.new == false">Recurring</span> {{ x.address }}
                                    </div>
                                </td>
                                <td>
                                    {{ x.city }}
                                </td>
                                <td>
                                    {{ x.girls }}
                                </td>
                                <td>
                                    {{ x.boys }}
                                </td>
                                <td>
                                    {{ x.teacher }}
                                </td>
                                <!--<td>
                                    <div class="gaugejs-wrap sparkline" style="width:34px;height:34px">
                                        <canvas gaugejs ng-model="gauge" gauge-type="gauge.gaugeType" options="gauge.options" value="x.avg" max-value="100" animation-time="gauge.animationTime"
                                            width="34" height="34"></canvas>
                                        <span class="value">{{ x.avg }}%</span>
                                    </div>
                                </td>-->
                               <td>
                                    {{ x.totalAmount + x.totalOptionalFeeAmount + x.totaladmissionFeeAmount}}
                                </td>
                                <td>
                                    {{ x.payedAmount + x.payedOptionalFeeAmount + x.payedadmissionFeeAmount }}
                                </td>
                                <td>
                                    {{ (x.totalAmount*1 + x.totalOptionalFeeAmount *1 + x.totaladmissionFeeAmount*1)
                                     - (x.payedAmount*1 + x.payedOptionalFeeAmount*1 + x.payedadmissionFeeAmount*1) }}
                                </td>
                                <td>
                                    <button ng-click="updateSchool( x )" class="btn btn-info btn-sm">Edit</button>
                                    <button ng-click="adminView( x )" class="btn btn-sm">   View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Modal save school -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="closeModalFun()" class="close">&times;</button>
                    <h4 class="modal-title" style="text-align: center"> School</h4>
                </div>
                <div class="modal-body">
                    <table class="table table1">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    </div>
                                    <input ng-model="saveObj.schoolName" my-directive class="form-control" type="text" placeholder="Enter School Name" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                    </div>
                                    <input ng-model="saveObj.city" my-directive type="text" class="form-control" placeholder="Enter School City">
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <input ng-model="saveObj.address" type="text" class="form-control" placeholder="Enter school address">
                                </div>

                            </td>
                        </tr>
                        <!--<tr>
                            <td>
                                <b> Select School Icon  :  <br>  </b>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    </div>
                                    <input ng-file-model="schoolImage" type="file" class="form-control">
                                </div>
                            </td>
                        </tr>-->
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveSchool( schoolImage )" class="btn btn-success"> Save </button>
                    <button ng-click="closeModalFun()" type="button" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>








</div>