<br>


<div ng-controller="classHomeCtrl">


    <style>
        .table1>tbody>tr>th,
        .table1>tbody>tr>td {
            border-top: none;
        }
    </style>




    <div class="row">

        <div ng-show="teacherHide" class="col-md-1">
            <a href="#/schoolHome"> <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i> </a>
        </div>





        <div hidden id="modelId" class="col-md-1 offset-md-3" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </div>

        <div hidden id="modelId1" class="col-md-1 offset-md-3" data-toggle="modal" data-target="#myModal1">
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </div>

        <div hidden id="modelId2" class="col-md-1 offset-md-3" data-toggle="modal" data-target="#myModal2">
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </div>

    </div>



    <br>
    <!--<div class="row">
        <div class="col-md-4 offset-md-0">
            <input type="text" ng-model="serchText" class="form-control" placeholder="Search.." style="border-radius: 35px;">
        </div>
        <div id="modelId3" class="col-md-3 offset-md-5">
            <button ng-click="addStudentLoc()" class="btn btn-info">Add Student</button>
            <button ng-show="adminView" ng-click="addFeeLoc()" class="btn btn-info">Add Class Fee</button>
        </div>
    </div>-->
    <div class="row">

        <div class="col-md-2">
            <b> Class Name  </b>
            <div class="small text-muted" style="padding-left: 12%;">
                <b style="color:blue"> {{ className }} </b>
            </div>
        </div>
        <!--<div class="col-md-1">
            <b> Total  </b>
            <div class="small text-muted" style="padding-left: 12%;">
                <b style="color:blue">{{ standardObject.boys*1 + standardObject.girls*1}}</b>
            </div>
        </div>
        <div class="col-md-1">
            <b> Boys  </b>
            <div class="small text-muted" style="padding-left: 12%;">
                <b style="color:blue">{{ standardObject.boys*1 }}</b>
            </div>
        </div>
        <div class="col-md-1">
            <b> Girls  </b>
            <div class="small text-muted" style="padding-left: 12%;">
                <b style="color:blue">{{  standardObject.girls*1}}</b>
            </div>
        </div>-->


        <div class="col-md-4 offset-md-5">
            <input type="text" ng-model="serchText" class="form-control" placeholder="Search.." style="border-radius: 35px;">
        </div>

        <div ng-show="adminView" class="col-md-1 offset-md-0 ">
            <ul class="nav pull-left">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-list fa-2x" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a ng-click="addStudentLoc()" class="dropdown-item" href="#"> <b>  <i class="fa fa-user" aria-hidden="true"></i> Add Student </b> </a>
                        <a ng-click="addFeeLoc()" class="dropdown-item" href="#"> <b> <i class="fa fa-money" aria-hidden="true"></i> Add Class Fee </b> </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>





    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block table-responsive">
                    <table class="table table-hover table-outline" style="text-align: center">
                        <thead class="thead-default">
                            <tr>
                                <th style="text-align: center ;"><i class="icon-people"></i> </th>
                                <th style="text-align: center ; "> First Name</th>
                                <th style="text-align: center ;"> Last Name</th>
                                <th style="text-align: center ; "> Gender </th>
                                <th style="text-align: center ; "> Parents Number </th>
                                <th style="text-align: center ; "> Date Of Birth </th>
                                <!--<th style="text-align: center ; "> Attendance </th>-->
                                <th style="text-align: center ; "> Total Fee
                                    <div class="small text-muted">
                                       Student
                                    </div>
                                </th>
                                <th style="text-align: center ; "> Paid Fee
                                    <div class="small text-muted">
                                      Student
                                    </div>
                                </th>
                                <th style="text-align: center ; "> Due Fee
                                    <div class="small text-muted">
                                       Student
                                    </div>
                                </th>
                                <th style="text-align: center ;"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="x in studentList | orderBy:'name' | filter : serchText |itemsPerPage:pageSize" current-page="currentPage">
                                <td>
                                    <div class="avatar">
                                        <img check-image ng-src="{{ imageBaseURL + x.studentInfo.imageURL }}" class="img-avatar" />
                                    </div>
                                </td>
                                <td>
                                    <div>{{ x.studentInfo.firstName }}</div>
                                </td>
                                <td>
                                    {{ x.studentInfo.lastName }}
                                </td>
                                <td>
                                    {{ x.studentInfo.gender }}
                                </td>
                                <td>
                                    {{ x.studentInfo.phone1 }}
                                </td>
                                <td>
                                    {{ x.studentInfo.dob | date:'dd-MM-yyyy' }}
                                </td>
                                <!--<td>
                                    <div class="gaugejs-wrap sparkline" style="width:34px;height:34px">
                                        <canvas gaugejs ng-model="gauge" gauge-type="gauge.gaugeType" options="gauge.options" value="x.avg" max-value="100" animation-time="gauge.animationTime"
                                            width="34" height="34"></canvas>
                                        <span class="value">{{ x.avg }}%</span>
                                    </div>
                                </td>-->
                                <td>
                                    {{ x.totalAmount + x.totalOptionalFeeAmount + x.totaladmissionFeeAmount}}
                                </td>
                                <td>
                                    {{ x.payedAmount + x.payedOptionalFeeAmount + x.payedadmissionFeeAmount }}
                                </td>
                                <td>
                                    {{ (x.totalAmount*1 + x.totalOptionalFeeAmount *1 + x.totaladmissionFeeAmount*1) - (x.payedAmount*1 + x.payedOptionalFeeAmount*1
                                    + x.payedadmissionFeeAmount*1) }}
                                </td>
                                <td>
                                    <!--<button ng-click="updateStudentInfo( x )" class="btn btn-info btn-sm">Edit</button>-->
                                    <button ng-click="paymentLocation( x )" class="btn btn-success btn-sm">Pay</button>
                                    <button ng-click="studentView( x )" class="btn btn-default btn-sm"> Profile </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </div>










    <!-- Model student info-->

    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center"> Student Info </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 table-responsive">

                            <table class="table table1">
                                <tr>
                                    <td colspan="1" style="font-weight: bold ; text-align: center">
                                        <img check-image ng-src="{{ imageBaseURL + studentObj.imageURL }}" width="90px" height="90px" class="img-avatar">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        Full Name
                                    </td>
                                    <td>
                                        : {{ studentObj.firstName }} {{ studentObj.lastName }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        DOB
                                    </td>
                                    <td>
                                        : {{ studentObj.dob | date : 'dd-MM-yyyy'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        Gender
                                    </td>
                                    <td>
                                        : {{ studentObj.gender }}
                                    </td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold">
                                        Email
                                    </td>
                                    <td>
                                        : {{ studentObj.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        Parents Number
                                    </td>
                                    <td>
                                        : {{ studentObj.phone1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        Student Number
                                    </td>
                                    <td>
                                        : {{ studentObj.phone2 }}
                                    </td>
                                </tr>


                                <tr>
                                    <td style="font-weight: bold">
                                        Address
                                    </td>
                                    <td>
                                        : {{ studentObj.address }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        City
                                    </td>
                                    <td>
                                        : {{studentObj.city }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        State
                                    </td>
                                    <td>
                                        : {{ studentObj.state }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        Zip Code
                                    </td>
                                    <td>
                                        : {{ studentObj.zipCode }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">
                                        Country
                                    </td>
                                    <td>
                                        : {{ studentObj.country }}
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



















</div>