<br>
<br>

<div ng-controller="feeCtrl">

    <div class="row">
        <div class="col-md-1">
            <a href="#/classHome"> <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i> </a>
        </div>
        <div class="col-md-8">
            <button id="openFeeModalId" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Add Fee</button>
        
        <br><br>
            <div class="card">
                <div class="card-block table-responsive">
                    <table class="table table-hover table-outline" style="text-align: center">
                        <thead class="thead-default">
                            <tr>
                                <th style="text-align: center ;"> Sl.NO. </th>
                                <th style="text-align: center ; "> Fee Name</th>
                                <th style="text-align: center ;"> Fee Amount </th>
                                <th style="text-align: center ; "> Fee Type </th>
                                <th style="text-align: center ;"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> {{ admissionFee.feesName }} </td>
                                <td> {{ admissionFee.feesAmount }} </td>
                                <td> admission fee </td>
                                <td>
                                    <button ng-click="updateAdmissionFee( admissionFee )" class="btn btn-info btn-sm">Edit</button>
                                </td>
                            </tr>
                            <tr ng-repeat="x in feeObject">
                                <td> {{ $index + 2}} </td>
                                <td> {{ x.feesName }} </td>
                                <td> {{ x.feesAmount }} </td>
                                <td> {{ x.feesType.feesType }} </td>
                                <td>
                                    <button ng-click="updateFee( x )" class="btn btn-info btn-sm">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <button hidden id="closeAddFeeModalId" type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    <!-- Add Fee Modal -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="closeAddFeeModalFun()" type="button" class="close">&times;</button>
                    <h4 class="modal-title" style="text-align: center"> Fee</h4>
                </div>
                <div class="modal-body">
                    <table class="table" style="text-align: center">
                        <tr>
                            <td> Fee Name </td>
                            <td> Fee Amount </td>
                            <td> Fee Type </td>
                            <td ng-show="showMonth"> Fee Valid Month </td>
                        </tr>
                        <tr>
                            <td> <input my-directive limit-to="25" ng-model="saveFeeObj.feesName" type="text" class="form-control">                                </td>
                            <td> <input valid-number limit-to="8" ng-model="saveFeeObj.feesAmount" type="text" class="form-control">                                </td>
                            <td>
                                <select title="Select Fee Type" ng-change="feeTypeFun()" ng-model="saveFeeObj.feesTypeId" class="form-control">
                                      <option value="" disabled >Select Fee Type</option>
                                      <option value="{{add.id}}" style="font-weight : bold" ng-repeat="add in feeTypes"> {{ add.feesType }} </option>
			                    </select>
                            </td>

                            <td ng-show="showMonth">
                                <select title="Select Month" ng-model="selectedMonthId" class="form-control">
                                      <option value="" disabled >Select Month</option>
                                      <option value="{{add.id}}" style="font-weight : bold" ng-repeat="add in monthes"> {{ add.month }} </option>
			                    </select>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveFee()" type="button" class="btn btn-success">Save</button>
                    <button ng-click="closeAddFeeModalFun()" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Admission Fee Modal -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="admissionModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="closeAdmissionFeeModalFun()" type="button" class="close">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Admission Fee</h4>
                </div>
                <div class="modal-body">
                    <table class="table" style="text-align: center">
                        <tr>
                            <td> Fee Name </td>
                            <td> Fee Amount </td>
                        </tr>
                        <tr>
                            <td> <input my-directive limit-to="25" ng-model="admissionObj.feesName" type="text" class="form-control">                                </td>
                            <td> <input valid-number limit-to="8" ng-model="admissionObj.feesAmount" type="text" class="form-control">                                </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveAdmissionFee()" type="button" class="btn btn-success">Save</button>
                    <button ng-click="closeAdmissionFeeModalFun()" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>



</div>