<style>
    .bg {
        /* The image used */
        background-image: url("img/2.jpg");

        /* Full height */
        height: 50%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<div class="bg" ng-controller="loginCtrl">
    <div class="container d-table ">
        <div class="d-100vh-va-middle ">

            <h1 style="text-align: center ; color: white"> SCHOOLING APPLICATION</h1>
            <h4 style="text-align: center ; color: white"> Bangalore, karnataka </h4>

            <br><br>

            <div class="row">
                <div class="col-md-5 offset-md-3">
                    <div class="card-group">
                        <div class="card p-2" style=" background-color: rgba(0, 0, 0, 0.18);">
                            <div class="card-block">
                                <h1 style="text-align: center;color: white">Login</h1><br>
                                <form>
                                <div class="input-group mb-1">
                                    <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                    <input ng-model="loginObj.email" type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="input-group mb-2">
                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                    <input ng-model="loginObj.password" type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="row">
                                    <div class="col-xs-6  offset-lg-3 offset-md-1">
                                        <button ng-click="login()" type="submit" class="btn btn-primary px-2" style="width: 140px">Login</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--<br><br><br><br>
            <div class="row pull-left" style="color: white;">
                Copyright © 2017 <a href="http://www.keyfalconsolutions.com" target="_blank" style="font-weight: bold;"> Keyfalcon Solutions.</a> All rights reserved.
            </div>-->
        </div>
    </div>
</div>