<div ng-controller="paymentCtrl">

    <style>
        .table th,
        td {
            text-align: center;
        }
    </style>


    <br>



    <div class="row">
        <div class="col-md-1">
            <a href="#/studentfeeview"> <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i> </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <b>  Student Name </b>
            <div class="small text-muted" style="padding-left: 5%;">
                <b style="color:blue"> {{ studentFirstName }} {{ studentLastName }} </b>
            </div>
        </div>
        <div class="col-md-2 offset-md-6">
            <b>  Class Name </b>
            <div class="small text-muted" style="padding-left: 12%;">
                <b style="color:blue"> {{ className }}  </b>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block table-responsive">
                    <!--<div class="row">
                        <div class="col-md-1">
                            <button id="openFeeModalId" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin-top: 35%;">Optional Fee</button>
                        </div>
                    </div>
                    <br><br>-->
                    <div class="row">
                        <div class="col-md-12 ">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>Fee Name</th>
                                        <th>Fee Amount </th>
                                        <th>Fee Type </th>
                                        <th> Status </th>
                                        <th> Select For Payment </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-if="admissionFee !=null && admissionFee !=''">
                                        <td>
                                            {{ admissionFee.feeName }}
                                        </td>
                                        <td>
                                            {{ admissionFee.feesAmount }}
                                        </td>
                                        <td>
                                            admission fee
                                        </td>
                                        <td>
                                            <span ng-if="admissionFee.paymentSataus == true" class="tag tag-success">Payed</span>
                                            <span ng-if="admissionFee.paymentSataus != true" class="tag tag-danger">Not Payed</span>
                                        </td>
                                        <td>
                                            <input ng-if="admissionFee.paymentSataus != true" ng-click="updateAdmissionFee( admissionFee.studentId )" type="checkbox">
                                        </td>
                                    </tr>



                                    <tr ng-repeat="x in regularFeesList" ng-if="x.feeId !='' && x.feeId !=null">
                                        <td>
                                            {{ x.feeName }}
                                        </td>
                                        <td>
                                            {{ x.feesAmount }}
                                        </td>
                                        <td>
                                            {{ x.paymentTypeName }}
                                        </td>
                                        <td>
                                            <span ng-if="x.paymentSataus == true" class="tag tag-success">Payed</span>
                                            <span ng-if="x.paymentSataus != true" class="tag tag-danger">Not Payed</span>
                                        </td>
                                        <td>
                                            <input ng-if="x.paymentSataus != true" ng-click="feeSelected( x.feeId )" type="checkbox">
                                        </td>
                                    </tr>

                                    <tr ng-repeat="x in OptionalFeeList" ng-if="x.feeId !='' && x.feeId !=null">
                                        <td>
                                            {{ x.feeName }}
                                        </td>
                                        <td>
                                            {{ x.feesAmount }}
                                        </td>
                                        <td>
                                            {{ x.paymentTypeName }}
                                        </td>
                                        <td>
                                            <span ng-if="x.paymentSataus == true" class="tag tag-success">Payed</span>
                                            <span ng-if="x.paymentSataus != true" class="tag tag-danger">Not Payed</span>
                                        </td>
                                        <td>
                                            <input ng-if="x.paymentSataus != true" ng-click="optionalFeeSelected( x.feeId )" type="checkbox">
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong ng-if="admissionFee !=null && admissionFee !=''"  class="pull-right"> Total : {{ getTotal( regularFeesList )*1 + getTotal( OptionalFeeList )*1 + admissionFee.feesAmount*1 }} </strong>
                            <strong ng-if="admissionFee ==null"  class="pull-right"> Total : {{ getTotal( regularFeesList )*1 + getTotal( OptionalFeeList )*1  }} </strong>
                        </div>
                    </div>

                    <br><br>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <button ng-click="PaymentSaveFun()" type="button" class="btn btn-success"> payment</button>
                            <button ng-click="cancelPayment()" type="button" class="btn">Cancel</button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>



</div>