<br>


<br>


<style>
    .table1>tbody>tr>th,
    .table1>tbody>tr>td {
        border-top: none;
    }
</style>


<div ng-controller="schoolHomeCtrl">


    <div class="row">

        <div class="col-md-3  offset-md-0">
            <b> School Name  </b>
            <div class="small text-muted" style="padding-left: 2%;">
                <b style="color:blue"> {{ schoolName }} </b>
            </div>
        </div>
        <div class="col-md-4 offset-md-4">
            <input type="text" ng-model="serchText" class="form-control" placeholder="Search.." style="border-radius: 35px">
        </div>
        <div class="col-md-1   offset-md-0">
            <div ng-show="adminView" class="col-md-3">
                <ul class="nav pull-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-list fa-2x" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a ng-click="teacherLoc()" class="dropdown-item" href="#"> <b>  <i class="fa fa-user" aria-hidden="true"></i> Add Teacher </b> </a>
                            <a data-toggle="modal" data-target="#myModal" class="dropdown-item" href="#"> <b> <i class="fa fa-plus-square" aria-hidden="true"></i> Add Class </b> </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <table class="table table-hover table-outline" style="text-align: center">
                        <thead class="thead-default">
                            <tr>
                                <!--<th style="text-align: center"><i class="icon-people"></i>
                                </th>-->
                                <th style="text-align: center;">Class Teacher Name</th>
                                <th style="text-align: center;"> Class & Section</th>
                                <th style="text-align: center;">Number Of Girls</th>
                                <th style="text-align: center;">Number Of Boys</th>
                                <!--<th style="text-align: center;">Number Of Subjects</th>-->
                                <th style="text-align: center;"> Total Student</th>

                                <th style="text-align: center ; "> Total Fee
                                    <div class="small text-muted">
                                      Class
                                    </div>
                                </th>
                                <th style="text-align: center ; "> Paid Fee
                                    <div class="small text-muted">
                                       Class
                                    </div>
                                </th>
                                <th style="text-align: center ; "> Due Fee
                                    <div class="small text-muted">
                                        Class
                                    </div>
                                </th>
                                <th style="text-align: center;"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="x in standardList | orderBy:'name' | filter : serchText |itemsPerPage:pageSize" current-page="currentPage">
                                <!--<td>
                                    <div class="avatar">
                                        <img check-image ng-src="{{ imageBaseURL + x.imageURl }}" class="img-avatar">
                                    </div>
                                </td>-->
                                <td>
                                    <div>{{ x.teachers.teacherInfo.prefix }} {{ x.teachers.teacherInfo.firstName }} {{ x.teachers.teacherInfo.lastName
                                        }}
                                    </div>
                                </td>
                                <td>
                                    {{ x.className }}
                                </td>
                                <td>
                                    {{ x.girls }}
                                </td>
                                <td>
                                    {{ x.boys }}
                                </td>
                                <td>
                                    {{ x.girls*1 + x.boys*1 }}
                                </td>
                                <!--<td>
                                    <div class="gaugejs-wrap sparkline" style="width:34px;height:34px">
                                        <canvas gaugejs ng-model="gauge" gauge-type="gauge.gaugeType" options="gauge.options" value="x.avg" max-value="100" animation-time="gauge.animationTime"
                                            width="34" height="34"></canvas>
                                        <span class="value">{{ x.avg }}%</span>
                                    </div>
                                </td>-->
                                <td>
                                    {{ x.totalAmount + x.totalOptionalFeeAmount + x.totaladmissionFeeAmount}}
                                </td>
                                <td>
                                    {{ x.payedAmount + x.payedOptionalFeeAmount + x.payedadmissionFeeAmount }}
                                </td>
                                <td>
                                    {{ (x.totalAmount*1 + x.totalOptionalFeeAmount *1 + x.totaladmissionFeeAmount*1) - (x.payedAmount*1 + x.payedOptionalFeeAmount*1
                                    + x.payedadmissionFeeAmount*1) }}
                                </td>
                                <td>
                                    <button ng-click="updateStandard( x )" class="btn btn-info btn-sm">Edit</button>
                                    <button ng-click="schoolView( x )" class="btn btn-sm">   View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Modal save class -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="closeModalFun()" type="button" class="close">&times;</button>
                    <h4 class="modal-title" style="text-align: center"> Update Info </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table1">
                                <tr>
                                    <td>
                                        <b>  Class Name : </b>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            </div>
                                            <input my-school ng-model="saveStanObj.className" class="form-control" type="text" placeholder="Enter Class Name" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b> Class Teacher : </b>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                            <!--<input ng-model="updateObj.teacher" type="text" class="form-control" placeholder="Enter Class Teacher">-->

                                            <select title="Select Teacher" ng-model="saveStanObj.teacherId" class="form-control">
                                               <option value="" disabled >Select Teacher</option>
                                               <option value="{{add.id}}" style="font-weight : bold" ng-repeat="add in teacherList">
                                                    {{ add.teacherInfo.prefix }} {{ add.teacherInfo.firstName }} {{ add.teacherInfo.lastName }}</option>
			                              </select>
                                        </div>

                                    </td>
                                </tr>
                                <!--<tr>
                                    <td>
                                        <b> Select Class  Image  :  <br>  </b>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            </div>
                                            <input ng-file-model="classImage"  type="file" class="form-control">
                                        </div>
                                    </td>
                                </tr>-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveStandard( classImage )" type="button" class="btn btn-success">Save</button>
                    <button ng-click="closeModalFun()" type="button" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>










</div>