<div ng-controller="studentCtrl">



    <style>
        .table1>tbody>tr>th,
        .table1>tbody>tr>td {
            border-top: none;
        }
    </style>

    <br><br>
    <div class="row">
        <div class="col-md-1">
            <a href="#/classHome"> <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i> </a>
        </div>
        <div class="col-md-10 ">
            <div class="card">
                <div class="card-header">
                    <h5 style="text-align: center"> Student Enrollment Form</h5>
                </div>
                <div class="card-block">

                    <div>
                        <div class="row">
                            <div class="col-md-10 offset-md-1">

                                <table class="table table1">
                                    <tr>
                                        <td>
                                           <b>Is New Student</b>
                                        </td>
                                        <td>
                                           <input ng-model="saveObj.isNewStudent" type="checkbox" style="zoom: 1.5;">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="font-weight: bold">
                                            Student Name*
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input my-directive ng-model="saveObj.firstName" type="text" class="form-control" placeholder="First Name">
                                                </div>
                                                <div class="col-md-4">
                                                    <input my-directive ng-model="saveObj.lastName" type="text" class="form-control" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">
                                            Parent Name*
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <!--<input ng-model="saveObj.prefix" type="text" class="form-control" placeholder="Prefix">
                                                -->
                                                    <select title="Select Prefix" ng-model="saveObj.prefix" class="form-control">
                                                            <option value="" disabled >Select Prefix</option>
                                                           <option value="{{add.prefix}}" style="font-weight : bold" ng-repeat="add in prefixes"> {{ add.prefix }} </option>
			                                       </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <input ng-model="saveObj.fatherName" my-directive type="text" class="form-control" placeholder="Parent Name">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">
                                            Address*
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input ng-model="saveObj.address" type="text" class="form-control" placeholder="Street Address">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input ng-model="saveObj.city" my-directive type="text" class="form-control" placeholder="City">
                                                </div>
                                                <div class="col-md-5">
                                                    <!--<input ng-model="saveObj.state" type="text" class="form-control" placeholder="State">-->
                                                    <select title="Select State" ng-model="saveObj.state" class="form-control">
                                                            <option value="" disabled >Select State</option>
                                                           <option value="{{add.state}}" style="font-weight : bold" ng-repeat="add in states"> {{ add.state }} </option>
			                                       </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input ng-model="saveObj.zipCode" numbers-only limit-to="6" type="text" class="form-control" placeholder="PinCode">
                                                </div>
                                                <div class="col-md-5">
                                                    <!--<input ng-model="saveObj.country" type="text" class="form-control" placeholder="Country">-->
                                                    <select title="Select Country" ng-model="saveObj.country" class="form-control">
                                                           <option value="" disabled >Select Country</option>
                                                             <option value="{{add.country}}" style="font-weight : bold" ng-repeat="add in countryies"> {{ add.country }} </option>
			                                        </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">
                                            DOB*
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input format-date type="date" ng-model="saveObj.dob"  max="{{maxDate}}"  class="form-control" placeholder="DOB">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">
                                            Gender*
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <!--<input ng-model="saveObj.gender" type="text" class="form-control" placeholder="Gender">-->
                                                    <select title="Select Gender" ng-model="saveObj.gender" class="form-control">
                                                            <option value="" disabled >Select Gender</option>
                                                           <option value="{{add.gender}}" style="font-weight : bold" ng-repeat="add in genders"> {{ add.gender }} </option>
			                                      </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">
                                            Phone Number*
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input ng-model="saveObj.phone1" numbers-only limit-to="10" type="text" class="form-control" placeholder="Parents Number">
                                                </div>
                                                <div class="col-md-5">
                                                    <input ng-model="saveObj.phone2" numbers-only limit-to="10" type="text" class="form-control" placeholder="Student Number">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">
                                            Email
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input ng-model="saveObj.email" type="text" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">
                                            Student Picture
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input ng-file-model="studentImage" type="file" class="form-control">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <ul style="text-align: center">
                            <button ng-click="saveStudent( studentImage )" class="btn btn-success">Save</button>
                            <button ng-click="addStudentCancel()" type="button" class="btn ">Cancel</button>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>