<div ng-controller="studentFeeViewCtrl">

    <style>
        .table th,
        td {
            text-align: center;
        }
    </style>


    <br>




    <div class="row">
        <div class="col-md-1">
            <a href="#/classHome"> <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i> </a>
        </div>
        <div class="col-md-2 offset-md-9">
            <button id="openFeeModalId" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin-top: 35%;"> Add Extra Fee</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <b>  Student Name </b>
            <div class="small text-muted" style="padding-left: 5%;">
                <b style="color:blue"> {{ studentFirstName }} {{ studentLastName }} </b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block table-responsive">

                    <div class="row">
                        <div class="col-md-12 ">
                            <table class="table table-bordered text-center table-hover table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th> Month/Fees</th>
                                        <th ng-repeat="x in regularFeesList"> {{ x.feesName }}
                                            <div class="small text-muted">
                                                Regular fee
                                            </div>
                                        </th>
                                        <th ng-repeat="x in OptionalFeeList"> {{ x.feesName }}
                                            <div class="small text-muted">
                                                optional fee
                                            </div>
                                        </th>
                                        <th ng-if="admissionFee !=null"> {{ admissionFee.feesName }}
                                            <div class="small text-muted">
                                                Admission fee
                                            </div>
                                        </th>
                                        <th> Total </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="y in paymentList">
                                        <td>
                                            <b>     {{ y.month.month }}</b>
                                        </td>
                                        <td ng-repeat="x in y.fees">
                                            {{ x.feesAmount }}
                                            <div ng-if="x.feeId !='' && x.feeId !=null" class="small text-muted">
                                                <span ng-if="x.paymentSataus == true" class="tag tag-success">Payed</span>
                                                <span ng-if="x.paymentSataus != true">Not Payed</span>
                                            </div>
                                        </td>
                                        <td ng-repeat="x in y.optionalFees">
                                            {{ x.feesAmount }}
                                            <div ng-if="x.feeId !='' && x.feeId !=null" class="small text-muted">
                                                <span ng-if="x.paymentSataus == true" class="tag tag-success">Payed</span>
                                                <span ng-if="x.paymentSataus != true">Not Payed</span>
                                            </div>
                                        </td>
                                        <td ng-if="admissionFee !=null">
                                            {{ y.admissionFee.feesAmount }}
                                            <div ng-if="y.admissionFee.feesAmount !=null" class="small text-muted">
                                                <span ng-if="y.admissionFee.paymentSataus == true" class="tag tag-success">Payed</span>
                                                <span ng-if="y.admissionFee.paymentSataus != true">Not Payed</span>
                                            </div>
                                        </td>
                                        <td> <b>{{ y.totalPayment }}</b> </td>
                                        <td> <button ng-click="goForPayment( y )" class="btn btn-sm btn-success"> Pay</button>                                            </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b> Grand Total</b>
                                        </td>
                                        <td ng-repeat="x in regularFeesList">
                                            <b> <span ng-if="x.feesType.id == 1"> {{ x.feesAmount*12 }} </span>
                                            <span ng-if="x.feesType.id == 2"> {{ x.feesAmount }} </span></b>
                                        </td>

                                        <td ng-repeat="x in OptionalFeeList">
                                            <b><span ng-if="x.feesType.id == 1"> {{ x.feesAmount*12 }} </span>
                                            <span ng-if="x.feesType.id == 2"> {{ x.feesAmount }} </span></b>
                                        </td>

                                        <td ng-if="admissionFee !=null">
                                            <b>  {{ admissionFee.feesAmount }} </b>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11">
                            <strong class="pull-right"> Total : {{ paymentResponseObj.grandTotal }} </strong>
                        </div>
                    </div>
<!--
                    <div class="row">
                        <div class="col-md-11">
                            <strong class="pull-right" style="color: green"> Paid : {{ 4000 }} </strong>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11">
                            <strong class="pull-right" style="color: red" > Due : {{ 3000 }} </strong>
                        </div>
                    </div>-->



                </div>
            </div>
        </div>
    </div>





    <button hidden id="closeAddFeeModalId" type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    <!-- Add Fee Modal -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="closeAddFeeModalFun()" type="button" class="close">&times;</button>
                    <h5 class="modal-title" style="text-align: center">ADD EXTRA FEE FOR <span style="color:blue"> {{ studentFirstName }} {{ studentLastName }}  </span> </h5>
                </div>
                <div class="modal-body">
                    <table class="table" style="text-align: center">
                        <tr>
                            <td> Fee Name </td>
                            <td> Fee Amount </td>
                            <td> Fee Type </td>
                            <td ng-show="showMonth"> Fee Valid Month </td>
                        </tr>
                        <tr>
                            <td> <input my-directive limit-to="25" ng-model="saveFeeObj.feesName" type="text" class="form-control">                                </td>
                            <td> <input valid-number limit-to="8" ng-model="saveFeeObj.feesAmount" type="text" class="form-control">                                </td>
                            <td>
                                <select title="Select Fee Type" ng-change="feeTypeFun()" ng-model="saveFeeObj.feesTypeId" class="form-control">
                                      <option value="" disabled >Select Fee Type</option>
                                      <option value="{{add.id}}" style="font-weight : bold" ng-repeat="add in feeTypes"> {{ add.feesType }} </option>
			                    </select>
                            </td>

                            <td ng-show="showMonth">
                                <select title="Select Month" ng-model="selectedMonthId" class="form-control">
                                      <option value="" disabled >Select Month</option>
                                      <option value="{{add.id}}" style="font-weight : bold" ng-repeat="add in monthes"> {{ add.month }} </option>
			                    </select>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveFee()" type="button" class="btn btn-success">Save</button>
                    <button ng-click="closeAddFeeModalFun()" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>




</div>