<div ng-controller="teacherCtrl">

    <style>
        .table1>tbody>tr>th,
        .table1>tbody>tr>td {
            border-top: none;
        }
    </style>

    <br>

    <div class="row">
        <div class="col-md-10 offset-md-1">

            <a href="#/schoolHome"> <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i> </a>

            <button class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal"> Add Teacher</button>
            <br><br>
            <div class="card">
                <div class="card-block">
                    <table class="table table-hover table-outline" style="text-align: center">
                        <thead class="thead-default">
                            <tr>
                                <th style="text-align: center"><i class="icon-people"></i>
                                </th>
                                <th style="text-align: center;">Full Name</th>
                                <!--<th style="text-align: center;"> Teacher Type </th>-->
                                <th style="text-align: center;"> Gender </th>
                                <th style="text-align: center;"> Phone </th>
                                <th style="text-align: center;"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in teacherList">
                                <td>
                                    <div class="avatar">
                                        <img check-image ng-src="{{ imageBaseURL + x.teacherInfo.imageURL }}" class="img-avatar">
                                    </div>
                                </td>
                                <td>
                                    <div>{{ x.teacherInfo.prefix }} {{ x.teacherInfo.firstName }} {{ x.teacherInfo.lastName }}</div>
                                </td>
                                <!--<td>
                                    {{ x.class }}
                                </td>-->
                                <td>
                                    {{ x.teacherInfo.gender }}
                                </td>
                                <td>
                                    {{ x.teacherInfo.phone1 }}
                                </td>
                                <td>
                                    <button ng-click="updateTeacher( x )" class="btn btn-info btn-sm">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal save teacher -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="closeModalFun()" class="close">&times;</button>
                    <h4 class="modal-title" style="text-align: center"> Teacher </h4>
                </div>
                <div class="modal-body">
                    <table class="table table1">
                        <tr>
                            <td style="font-weight: bold">
                                Full Name*
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <select title="Select Prefix" ng-model="saveObj.prefix" class="form-control">
                                             <option value="" disabled >Select Prefix</option>
                                             <option value="{{add.prefix}}" style="font-weight : bold" ng-repeat="add in prefixes"> {{ add.prefix }} </option>
			                           </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input my-directive ng-model="saveObj.firstName" type="text" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="col-md-4">

                                        <input my-directive ng-model="saveObj.lastName" type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                                Address*
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-11">
                                        <input ng-model="saveObj.address" type="text" class="form-control" placeholder="Street Address">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                                DOB*
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input  format-date  ng-model="saveObj.dob" max="{{maxDate}}" type="date" class="form-control" placeholder="DOB">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                                Gender*
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-5">
                                        <select title="Select Gender" ng-model="saveObj.gender" class="form-control">
                                               <option value="" disabled >Select Gender</option>
                                               <option value="{{add.gender}}" style="font-weight : bold" ng-repeat="add in genders"> {{ add.gender }} </option>
			                              </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                                Phone Number*
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input numbers-only limit-to="10" ng-model="saveObj.phone1" type="text" class="form-control" placeholder="Phone Number">
                                    </div>
                                    <div class="col-md-5">
                                        <input numbers-only limit-to="10" ng-model="saveObj.phone2" type="text" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                                Email*
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input ng-model="saveObj.email" type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                                Teacher Picture
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input ng-file-model="teacherImage"  type="file" class="form-control">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveTeacher( teacherImage )" class="btn btn-success"> Save </button>
                    <button ng-click="closeModalFun()" type="button" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>



</div>