<br>
<br>

<div ng-controller="userCtrl">

    <div class="row">
        <div class="col-md-8 offset-md-1">


            <div class="row">
                <div class="col-md-6  offset-md-2">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="text" ng-model="serchText" class="form-control" placeholder="Search.." style="border-radius: 35px" >
                        <!--<div class="input-group-addon"> <i class="fa fa-search" aria-hidden="true"></i> </div>-->
                    </div>
                </div>
                <div class="col-md-1 offset-md-2">
                    <button id="openFeeModalId" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add User</button>
                </div>
            </div>

            <div class="card">
                <div class="card-block table-responsive">
                    <table class="table table-hover table-outline" style="text-align: center">
                        <thead class="thead-default">
                            <tr>
                                <th style="text-align: center ;"> Sl.NO. </th>
                                <th style="text-align: center ; "> User Email</th>
                                <th style="text-align: center ;"> Role Name </th>
                                <th style="text-align: center ; "> School </th>
                                <th style="text-align: center ; "> Class </th>
                                <th style="text-align: center ;"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="x in useres  | orderBy:'name' | filter : serchText |itemsPerPage:pageSize " current-page="currentPage">
                                <td> {{ ($index + 1) + (currentPage - 1) * pageSize}} </td>
                                <td> {{ x.email }} </td>
                                <td> {{ x.role.roleName }} </td>
                                <td> {{ x.schooles.schoolName }} </td>
                                <td> {{ x.standard.className }} </td>
                                <td>
                                    <button ng-click="updateUserFun( x )" class="btn btn-info btn-sm"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button ng-if="x.role.id !=1" ng-click="deleteUserFun( x )" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Update Modal -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="updateModel" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="closeUpdateModalFun()" type="button" class="close">&times;</button>
                    <h4 class="modal-title" style="text-align: center"> Change Password</h4>
                </div>
                <div class="modal-body">
                    <table class="table" style="text-align: center">
                        <!--<tr>
                            <td> Password </td>
                        </tr>-->
                        <tr>
                            <td> <input ng-model="updateUserObj.password" type="password" class="form-control"  placeholder="Enter Password" > </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="updateSaveUserFun()" type="button" class="btn btn-success">Save</button>
                    <button ng-click="closeUpdateModalFun()" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Save Modal -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="closeSaveModalFun()" type="button" class="close">&times;</button>
                    <h4 class="modal-title" style="text-align: center"> Add User</h4>
                </div>
                <div class="modal-body">
                    <table class="table" style="text-align: center">
                        <tr>
                            <td> Email </td>
                            <td> Password </td>
                            <td> Role Type </td>
                            <td ng-show="schoolShow"> School </td>
                            <td ng-show="classShow"> Class </td>
                        </tr>
                        <tr>
                            <td> <input limit-to="25" ng-model="saveUserObj.email" type="text" class="form-control" placeholder="Enter Email" > </td>
                            <td> <input ng-model="saveUserObj.password" type="password" class="form-control"  placeholder="Enter Password" > </td>
                            <td>
                                <select title="Select Role" ng-change="roleFun( saveUserObj.roleId )" ng-model="saveUserObj.roleId" class="form-control">
                                      <option value="" disabled >Select Role </option>
                                      <option value="{{add.id}}" style="font-weight : bold" ng-repeat="add in roles"> {{ add.roleName }} </option>
			                    </select>
                            </td>
                            <td ng-show="schoolShow">
                                <select title="Select School" ng-change="getStandardBySchool( saveUserObj.schoolesId )" ng-model="saveUserObj.schoolesId"
                                    class="form-control">
                                      <option value="" disabled >Select School</option>
                                      <option value="{{add.id}}" style="font-weight : bold" ng-repeat="add in schoolList"> {{ add.schoolName }} </option>
			                    </select>
                            </td>
                            <td ng-show="classShow">
                                <select title="Select Class" ng-model="saveUserObj.standardId" class="form-control">
                                      <option value="" disabled >Select Class</option>
                                      <option value="{{add.id}}" style="font-weight : bold" ng-repeat="add in standardList"> {{ add.className }} </option>
			                    </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveUser()" type="button" class="btn btn-success">Save</button>
                    <button ng-click="closeSaveModalFun()" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>




</div>