<br>
<br>

<div ng-controller="yearCtrl">

    <div class="row">
        <div class="col-md-8 offset-md-1">

            <button id="openFeeModalId" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Add Year</button>
<br><br>
            <div class="card">
                <div class="card-block table-responsive">
                    <table class="table table-hover table-outline" style="text-align: center">
                        <thead class="thead-default">
                            <tr>
                                <th style="text-align: center ;"> Sl.NO. </th>
                                <th style="text-align: center ; "> Year Name</th>
                                <th style="text-align: center ;"> Status </th>
                                <th style="text-align: center ;"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr>
                                <td colspan="5" style="color: red;font-weight: bold">
                                    Sorry , No data to display
                                </td>
                            </tr>-->
                            <tr ng-repeat="x in years">
                                <td> {{ $index + 1 }} </td>
                                <td> {{ x.yearName }} </td>
                                <td>
                                    <span ng-if="x.status == true" class="tag tag-success">Active</span>
                                    <span ng-if="x.status != true" class="tag tag-danger"> Not Active </span>
                                </td>
                                <td>
                                    <button ng-click="updateYear( x )" class="btn btn-info btn-sm">Edit</button>
                                    <button ng-click="activeYear( x )" class="btn btn-success btn-sm">Active</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <button hidden id="closeAddFeeModalId" type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    <!-- Add Fee Modal -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="closeADDModalFun()" type="button" class="close">&times;</button>
                    <h4 class="modal-title" style="text-align: center"> Year </h4>
                </div>
                <div class="modal-body">
                    <table class="table" style="text-align: center">
                        <tr>
                            <td> Year Name </td>
                        </tr>
                        <tr>
                            <td> <input limit-to="9" valid-year ng-model="yearObj.year" type="text" class="form-control">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveYears()" type="button" class="btn btn-success">Save</button>
                    <button ng-click="closeADDModalFun()" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>




</div>