<header class="navbar" ng-controller="appCtrl">
    <div class="container-fluid">


        <style>
            .dropdown-toggle::after {
                display: none;
            }
        </style>


        <div ng-show="adminView">
            <button class="navbar-toggler hidden-lg-up" style="color: black" type="button">&#9776;</button>
            <a class="navbar-brand  hidden-md-down" ui-sref="app.main"></a>

            <ul class="nav navbar-nav hidden-md-down">
                <li class="nav-item">
                    <a id="fullviewhtml" class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a>
                </li>
            </ul>
        </div>

        <ul class="nav navbar-nav" style="padding-left: 50%;">
            <li class="nav-item">
                <b> {{ currentMonth }} / {{ currentYear }}</b>
            </li>
        </ul>

        <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-xs-center">
                        <strong>Account</strong>
                    </div>
                    <a ng-click="logoutFun()" class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>

</header>