<div class="sidebar">

    <button type="button" class="sidebar-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                Dashboard
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> {{ 'DASHBOARD' | translate }} <span class="tag tag-info">NEW</span></a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.adminHome"><i class="icon-speedometer"></i> {{ 'SCHOOLS' | translate }} <span class="tag tag-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.user"><i class="icon-speedometer"></i> {{ 'USER' | translate }} <span class="tag tag-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.year"><i class="icon-speedometer"></i> {{ 'YEAR' | translate }} <span class="tag tag-info">NEW</span></a>
            </li>


        </ul>
    </nav>

</div>